.con-cal {
  display: flex;
  font-style: oblique;
  border-radius: 10px;
  height: 30vh;
  background-color: rgb(168, 192, 192);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  justify-content: center;
 
}
.text-decoration{
border-radius: 8px;
padding: 10px;
}
.input-decoration{
border-radius: 8px;
cursor: pointer;
}
.text-detail{
padding: 10px;

}
.endTime{

display: none;
visibility: hidden;
}
.cal-det{
  position: relative;
  top: 5vh;

}
.gcal{
 display: none;
  visibility: hidden;
  position: absolute;
  height: -3000vh;
}
.cal-det form{
  padding: 10px;
  font-size: large;
  font-family: Arial, sans-serif;
  position: relative;
  font: bolder;
  font-size: larger;
  color: black;
}
.submit{
border: none;
cursor: pointer;
color: aliceblue;
position: relative;
margin-top: 20px;
font-size: larger;
background: none;
text-align: center;
justify-content: center;
bottom: 10px;
}
.text-detail {

  align-items: center;
}

  @media (max-width: 450px) {
    .con-cal {
      height: 40vh;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
  
    .text-detail label
    {
      display: flex; /* Switch to flexbox for vertical layout */
      flex-direction: column; /* Stack items vertically */
      padding: 0px;
     
    }
  
    
  
    .text-detail label {
      flex-basis: 30%; /* Occupy 30% of the row for the label */
      text-align: right; /* Align label text to the right */
      margin-right: 10px; /* Space between label and input */
    }
  
    .text-detail input {
      flex-basis: 60%; /* Occupy 60% of the row for the input */
      padding: 5px; /* Add some padding to inputs */
    }
  
    .submit {
      border: none;
      cursor: pointer;
      color: aliceblue;
      position: relative;
      margin-top: 5px;
      font-size: larger;
      background: none;
      text-align: center;
      justify-content: center;
      bottom: 10px;
    }
  
    h1 {
      font-size: 24px; /* Adjust the font size for smaller screens */
      text-align: center; /* Center the heading */
    }
  }
